:root {
  --foreground-rgb: 0, 0, 0;
  --color-primary: #7F00FF;
  --color-secondary: #003153;
  --color-neutral: #607d87;
  --color-dark: #001C30;
  --color-bg-light: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
