/* https://www.radix-ui.com/themes/docs/theme/color#accents */

.radix-themes {
  --default-font-family: var(--font-inter);

  --color-primary: #DAFFFB;
  --color-secondary: #64CCC5;
  --color-neutral: #176B87;
  --color-dark: #001C30;
  
  --teal-1: var(--color-primary);
  --teal-a1: var(--color-primary);
  --teal-2: var(--color-primary);
  --teal-a2: var(--color-primary);
  --teal-3: var(--color-primary);
  --teal-a3: var(--color-primary);
  

  --teal-4: var(--color-secondary);
  --teal-a4: var(--color-secondary);
  --teal-5: var(--color-secondary);
  --teal-a5: var(--color-secondary);
  --teal-6: var(--color-secondary);
  --teal-a6: var(--color-secondary);

  --teal-7: var(--color-neutral);
  --teal-a7: var(--color-neutral);
  --teal-8: var(--color-neutral);
  --teal-a8: var(--color-neutral);

  --teal-9: var(--color-neutral);
  --teal-a9: var(--color-neutral);

  --teal-10: var(--color-dark);
  --teal-a10: var(--color-dark);

}
:root, .light, .light-theme {
  --blue-1: #fafdff;
  --blue-2: #f3fafd;
  --blue-3: #e5f5fc;
  --blue-4: #d7eef9;
  --blue-5: #c6e5f2;
  --blue-6: #b2d8e9;
  --blue-7: #98c8dc;
  --blue-8: #70b2cd;
  --blue-9: #176b87;
  --blue-10: #005c78;
  --blue-11: #247491;
  --blue-12: #1e404d;

  --blue-a1: #0099ff05;
  --blue-a2: #0095d50c;
  --blue-a3: #009de21a;
  --blue-a4: #0093d928;
  --blue-a5: #008bc539;
  --blue-a6: #007eb74d;
  --blue-a7: #0077a967;
  --blue-a8: #0076a68f;
  --blue-a9: #005c7be8;
  --blue-a10: #005c78;
  --blue-a11: #005d7fdb;
  --blue-a12: #002735e1;

  --blue-contrast: #fff;
  --blue-surface: #f0f9fdcc;
  --blue-indicator: #176b87;
  --blue-track: #176b87;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --blue-1: oklch(99.3% 0.004 226);
      --blue-2: oklch(98% 0.008 226);
      --blue-3: oklch(96.1% 0.019 226);
      --blue-4: oklch(93.6% 0.029 226);
      --blue-5: oklch(90.3% 0.037 226);
      --blue-6: oklch(86.1% 0.046 226);
      --blue-7: oklch(80.6% 0.058 226);
      --blue-8: oklch(72.9% 0.077 226);
      --blue-9: oklch(49.3% 0.087 226);
      --blue-10: oklch(44.3% 0.087 226);
      --blue-11: oklch(52.6% 0.087 226);
      --blue-12: oklch(35.1% 0.046 226);

      --blue-a1: color(display-p3 0.024 0.514 1 / 0.016);
      --blue-a2: color(display-p3 0.02 0.557 0.824 / 0.044);
      --blue-a3: color(display-p3 0.012 0.529 0.831 / 0.091);
      --blue-a4: color(display-p3 0.008 0.506 0.808 / 0.142);
      --blue-a5: color(display-p3 0 0.471 0.706 / 0.2);
      --blue-a6: color(display-p3 0.004 0.431 0.659 / 0.275);
      --blue-a7: color(display-p3 0.004 0.4 0.604 / 0.365);
      --blue-a8: color(display-p3 0 0.384 0.588 / 0.502);
      --blue-a9: color(display-p3 0 0.267 0.396 / 0.8);
      --blue-a10: color(display-p3 0 0.243 0.365 / 0.851);
      --blue-a11: color(display-p3 0 0.278 0.42 / 0.765);
      --blue-a12: color(display-p3 0 0.114 0.176 / 0.851);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.945 0.973 0.984 / 0.8);
      --blue-indicator: oklch(49.3% 0.087 226);
      --blue-track: oklch(49.3% 0.087 226);
    }
  }
}